/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}
header{
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 15vh;
  
}
.links{
  display: inline-flex;
  width: 70%;
  margin-left: 5%;

}
.links a {
  margin:5%;
  font-weight: bold;
}
.logo {
  width: 5%;
 
}
.padding-1 {
  padding: 10%;
}
.big {
  font-size: 3em;
}
h6 {
  margin: 0%;
}

h2 {
  margin: 0;
}
#segunda-seccion{
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: #fff;
  height: 90vh;
  

}
#segunda-seccion > div{
  padding: 100px;

}
#segunda-seccion > div > a{
  color: #fff;
  background-color: #2ecc71;
  display: inline-block;
  font-size: 1em;
  padding: 5px;
  border-radius: 5%;
}
#tercera-seccion {
  background-color: #f17c72;
  text-align: center;
  color: #fff;
  height: 90vh;
}
.services-img {
  display: inline-block;
  width: 30%;
}
.img-ser {
  width: 40%;
}

#tercera-seccion > div>h2 {
  padding: 40px 0;

}
#cuarta-seccion{
  text-align: center;
}
#cuarta-seccion >div >h2 {
  padding: 20px 0;

}
.container-hero img {
  width: 70%;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
  padding: 10px 15px;

}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
#works {
  padding-left: 10%;
  margin-top: 5%;
  width: 100%;
}

.container-work {
display: inline-block;
text-align: center;
margin-bottom: 5%;
width: 30%;


}
.img-work {
  width: 90%;

}

footer {
  background-color: #373B47;
}
.p-footer {
  color: #fff;
  text-align: center;
  padding: 3%;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
